@font-face {
    font-family: Palaquin;
    src: url(/fonts/palanquin-medium.ttf);
}

#container {
	margin: 20px auto;
	text-align:center;
	font-family: "Palaquin", sans-serif;
}
#option-btn {
	
	font-size: 40px;
	cursor: pointer;
	color: rgba(0,0,0,0.3);
	position:absolute;
	right:10px;
	top:10px;
}
#option-btn:after{content: '\2807';}
#option-btn:hover {
	color:#777;
}
#add-task {
	font-family: "Palaquin", sans-serif;
	border: 0;
	border-bottom: 1px solid rgba(0,0,255,0.3);
	padding:10px 5px;
	width:43%;
	font-size: 16px;
	opacity: 0.5;
}
#add-task:hover {
	opacity: 0.7;
}
#add-task:focus {
	outline: 0;
	border-bottom: 1px solid rgba(0,0,255,0.3);
	opacity: 1;
}

.btn {
	border:1px solid rgba(0,0,0,0.2);
	border-radius:20%;
	background-color: rgba(255,255,255,0);
	
	font-size:16px;
	padding:3px 10px;
	cursor: pointer;
}
.btn:hover {
	background-color: rgba(127,127,127,0.1);
	border:1px solid rgba(0,0,0,0.4);
}
.btn:focus {
	outline: 0;
}

#add-task-btn {
	padding:5px 10px;
	margin-left:10px; 
	opacity:0.7;
}

#add-task-btn:hover{
	opacity:1;
}
#add-task-btn:before {
	content: "+";
}



#task-list-container {
	/* border: 1px solid black; /* For debug only */
	width: 49%;
	min-height: 400px;
	margin: 30px auto;
	
}

#task-list {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.task {
	margin:15px 0px;
	padding:5px;
	width: 95%;
	position:relative;
	border-radius:8px;
	text-align: left;
	background-color: rgba(248,248,255,0.1);
	border:	1px solid rgba(127,127,127,0.2);
	box-shadow: 2px 2px 4px rgba(127,127,127,0.2);
	
}
.task:hover {
	background-color: rgba(200,200,255,0.2);	
	
}
.task .status-box {
	width: 15px;
	height: 15px;
	background-size: cover;
	
	display: inline-block;
	vertical-align:middle;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	margin: 5px;
	padding:1px;
}

.task .title {
	display: inline-block;
    /* padding: 3px; */
    margin-left: 5px;
    margin-right: 30px;
    /* border-bottom: 2px dashed rgba(127,127,127,0.7); */
    color: #111;
    max-width: 500px;
    /* font-weight: 300; */
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    top: -2px;
	
}
.task .date{
	display:none;
	color: #24C2B5;
	padding:5px;
	font-style: italic;
	font-size:16px;
	margin-top:10px;
}

.task .hidden-btn {
	display: none;
}

.task:hover .hidden-btn {
	display: inline-block;
}
.options-task-btn {
	border:0;
	background-color: rgba(0,0,0,0);
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 20px;
	cursor: pointer;
}
.options-task-btn:before {
	content: '\2807';
}

.options-task-btn:focus {
	outline: 0;
}


.status-finished {
	background: url('/images/check.png') no-repeat;
}

.status-failed {
	background: url('/images/fail.png') no-repeat;
}

.priority {
	display:inline-block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight:bold;
	position:absolute;
	left:15px; top:13px;
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg);	
	
}
.priority.p-low {color: #00BB00; text-shadow: 1px 1px 3px rgba(0,255,0,0.5);}
.priority.p-low:after{content: "Low"; }
.priority.p-normal{display:none;}
.priority.p-high  {color: red; text-shadow: 1px 1px 3px rgba(255,0,0,0.5);}
.priority.p-high:after{content: "High"; }


.options-menu {
	margin: 0;
	display: none;
	font-family: "Palaquin", sans-serif;
	font-size: 12px;
	text-transform:uppercase;
	position: absolute;
	left: 96%;
	top: 20px;
	z-index: 1;
	
}
.options-menu ul {
	list-style-type:none;
	position:relative;
	text-align:center;
	background-color: #FEFEFE;
	border: 1px solid rgba(0,0,0,0.1);
	padding:0;
	min-width: 120px;
}

.options-menu ul li {
	padding:10px 15px;
	margin:0;
	max-width:200px;
	position:relative;
	cursor: pointer;	
}

.options-menu ul li:hover {
	/*border:1px solid rgba(0,0,0,0.1);*/
	background-color: #EEE;
}

.options-menu ul li ul {
	position:absolute;
	
	left:100%;
	display:none;
	padding:0;
}

ul li:hover ul {
	display:block;
	top: 0;
}

.options-menu ul li ul li {
	min-width:110px;
}

.mark-important-btn{
	display: none;
}
.importance {
	width: 42px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    /* margin-left: 30px; */
    position: absolute;
    left: -41px;
    top: -2px;
}

.is-imp {
	background: url('/images/important.png') no-repeat;
	background-size: cover;
}